[submodule "python3_examples"]
	path = python3_examples
	url = git@github.com:alejandrogm90/python3_examples.git
[submodule "ssh_examples"]
	path = ssh_examples
	url = git@github.com:alejandrogm90/ssh_examples.git
